name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    name: Build & Release
    runs-on: ubuntu-latest
    if: github.repository == 'ademajagon/gix'

    strategy:
      matrix:
        goos: [ linux, darwin, windows ]
        goarch: [ amd64, arm64 ]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.24"
          cache: true

      - name: Set up environment
        run: |
          echo "VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
          echo "EXT=" >> $GITHUB_ENV
          if [ "${{ matrix.goos }}" = "windows" ]; then echo "EXT=.exe" >> $GITHUB_ENV; fi

      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          mkdir -p dist
          BIN_NAME=gix-${{ matrix.goos }}-${{ matrix.goarch }}$EXT
          go build -ldflags "-X github.com/ademajagon/gix/cmd.version=${VERSION}" -o dist/$BIN_NAME .
          echo "Built $BIN_NAME"

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
